h1{
    color: darkblue;
    text-align: center;
}

html{
    background-color: beige;
}

img{
    width: 300px;   
    height: 300px;
    display: block;
    margin: 0 auto;
    border: dashed 3px;
    border-color: black;
}

ul{
    text-align: center;
    font-size: x-large;
    border: solid 3px;
    border-color: black;
}

#Listahorizontal{
    display: inline;
    margin-right: 150px;
}

#EncabezadoPrincipal{
    color: darkblue;
    font-size: xx-large;
}

#EncabezadoSecundario{
    color: midnightblue;
    font-size: x-large;
}



